$blue-hsl: hsl(207, 74%, 49%) !default;
$dark-blue-hsl: hsl(200, 93%, 28%) !default;
$dark-hsl: hsl(200, 100%, 6%) !default;
$error-hsl: hsl(0, 90%, 74%) !default;
$success-hsl: hsl(125, 67%, 77%) !default;
