.gant-chart-table tr th{
    background-color: white !important;
    border: 1px solid rgb(0, 0, 0, 0.05);
    padding: 0 !important;
}

.gant-chart-table tr th::before{
    display: none !important;
}

.gant-chart-table td{
    overflow: hidden !important;
}

.gant-chart-table{
}