.timeline-container {
    width: min-content;
    background-color: none;
};

.timeline-component{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.timeline-element{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 0px;
}